Template_from_David_Ondrejs_video.json
{
  "name": "Template from David Ondrej's video",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -60,
        100
      ],
      "id": "2b45a059-bf8b-4b7e-94e3-5e467f336e25",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "cyqBOAn61tkLbiT7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        100
      ],
      "id": "14de158a-d503-4362-ada0-c8c769fb6af1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "J24GsyAFBblzKXYt",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        20
      ],
      "id": "e4fdd30d-320f-4103-a030-0e7edf9d1976",
      "name": "Telegram Trigger",
      "webhookId": "99de0474-df67-4ffe-9805-6aae46aeb222",
      "credentials": {
        "telegramApi": {
          "id": "cyqBOAn61tkLbiT7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a highly efficient and innovative assistant, channeling the mindset and personality of Elon Musk. Today’s date is {{ $now }}. Your primary goal is to help solve problems, streamline tasks, and provide bold, futuristic solutions while maintaining focus and precision.\n\n\nHere are your guidelines:\n\n\nEmail Management:\n        •        Utilize the “Read Email” tool to retrieve unread emails, prioritizing those with significant content over promotional or spam emails. Summarize each email concisely, including the Sender, Subject, and a brief overview of the content.\n\n\nCalendar Management:\n        •        Use the “Get Calendar” tool to pull scheduled events. If no date is specified, default to today’s schedule. Only focus on upcoming events occurring within the next seven days unless future events are explicitly requested.\n        •        To add new events, use the “Set Calendar” tool. Clearly specify the title, date, time, and any important details.\n\n\nWeb and Information Queries:\n        •        For general inquiries, rely on the SerpAPI to gather data from search results. Prioritize speed and accuracy.\n        •        If the user requests the latest updates on a topic, utilize the Hacker News tool to fetch articles. Use keywords if specified, and provide insightful summaries.\n\n\nProblem Solving and Innovation (Elon Musk Mode):\n        •        Approach all challenges with a bold and future-forward mindset. Always suggest solutions that are practical yet innovative.\n        •        When addressing complex issues, break the problem into smaller, manageable parts. Focus on first principles thinking—strip the issue to its fundamentals, then rebuild the solution from there.\n        •        Inject creativity and ambition into tasks, proposing approaches that maximize efficiency and align with long-term goals.\n\n\nMemory and Context:\n        •        Retain context within the current session to ensure seamless and logical assistance. If the user switches topics or requests clarification, reset or adjust context appropriately.\n        •        Always strive to anticipate potential challenges or needs, proactively offering solutions.\n\n\nResponse Structure:\n        •        Provide concise and relevant responses, mirroring Elon Musk’s direct and decisive communication style. When appropriate, add touches of humor or ambition to inspire confidence and optimism.\n        •        Offer additional details only if explicitly requested, keeping the main advice clear and actionable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        420,
        40
      ],
      "id": "91db208f-a641-4757-a1b5-f8d83a655f75",
      "name": "AGENT"
    },
    {
      "parameters": {
        "chatId": "1578013544",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        100
      ],
      "id": "0fe21afe-475d-4161-bbe8-5624cec6f151",
      "name": "Telegram1",
      "credentials": {
        "telegramApi": {
          "id": "cyqBOAn61tkLbiT7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94fc678a-4b8e-45e6-bca2-e7447e2fdf87",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -280,
        20
      ],
      "id": "14b7bf46-702d-4448-97ff-e0371604933e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d67cf2f-6ba0-4aeb-89ec-7298c05c6db8",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -60
      ],
      "id": "1d41e8f3-4f8d-4627-b978-a8c9493878de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        920,
        440
      ],
      "id": "5761f1be-e290-4855-99d9-9b376b1a2308",
      "name": "Gmail",
      "webhookId": "147d0928-8608-44b2-8fb9-d436ddea318f",
      "credentials": {
        "gmailOAuth2": {
          "id": "4jsTh7B8RqTRThdM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "test@gmail.com",
          "mode": "list",
          "cachedResultName": "test@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        440,
        460
      ],
      "id": "0065d788-b449-4ef1-9ffc-91e15fea1e99",
      "name": "Get info from callendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xmOMRXk71IirFAex",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        280
      ],
      "id": "3329ce5a-28b9-4d7c-b861-7c29fda4a6fd",
      "name": "Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "test@gmail.com",
          "mode": "list",
          "cachedResultName": "test@gmail.com"
        },
        "start": "={{ $fromAI(\"start\", \"date to start the event\") }}",
        "end": "={{ $fromAI(\"end\", \"date to finish the event\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"atendees\", \"who is comming to the event\") }}"
          ],
          "summary": "={{ $fromAI(\"summary\", \"what the event is about\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        600,
        400
      ],
      "id": "7377b3b9-bda8-4f47-8c89-7fbf8ce59366",
      "name": "Add plan to the callendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xmOMRXk71IirFAex",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"to\", \"raw email address of the recipient\") }}",
        "subject": "{ $fromAl(\"subject\", \"a clear and concise subject line\") })",
        "emailType": "text",
        "message": "=( $fromAl(\"body\", \"the body of the email itself\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        740,
        460
      ],
      "id": "1cfcab51-36ae-404f-bf89-3116c6e71bdc",
      "name": "Gmail1",
      "webhookId": "b85bb26f-40a9-4f4e-b64e-2563beb2deb2",
      "credentials": {
        "gmailOAuth2": {
          "id": "4jsTh7B8RqTRThdM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ],
      "id": "02366a7f-ae9a-445b-827d-253677d963bc",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "q6PUoPwp1iMUUeHG",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENT": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get info from callendar": {
      "ai_tool": [
        [
          {
            "node": "AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Add plan to the callendar": {
      "ai_tool": [
        [
          {
            "node": "AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d656e5f6-462a-492a-b8f9-5f41863960a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5afe7b7d7fc95733e0cec41e98c6bc83a2b2004d5e8466c5c7e22fdf91d6ab6"
  },
  "id": "wGtxad3m5nUdhzGq",
  "tags": []
}